@model IEnumerable<TheRelieverMap.Models.AddToilet>
@{
    ViewBag.Title = "ViewToilet";
}

<h2>View Toilet</h2>
<ul>
    @foreach (var viewtoilet in Model)
    {
        <li>
            <div class="toilet-name">
                    @viewtoilet.Name
            </div>
            
            <div class="toilet-type">
                    @viewtoilet.Type.Name
            </div>

            <div class="state">
                    @viewtoilet.State.Name
            </div>

            <div class="city">
                    @viewtoilet.City
            </div>

            <div class="address">
                    @viewtoilet.Address
            </div>

            <div class="compatible">
                    @viewtoilet.Compatibility.Name
            </div>

            <br />
        </li>
    }
</ul>
