@model IEnumerable<TheRelieverMap.Models.AddToilet>
@{
    ViewBag.Title = "ViewToilet";
}

<h2>View Toilet</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Compatiable</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var viewtoilet in Model)
        {
            <tr>
                <td>
                    <div class="toilet-name">
                        @viewtoilet.Name
                    </div>

                    <div class="toilet-type">
                        <p>Type: @viewtoilet.Type.Name </p>
                    </div>

                    <div class="city">
                        <p>City: @viewtoilet.City </p>
                    </div>

                    <div class="address">
                        <p>Address: @viewtoilet.Address </p>
                    </div>
                </td>
                <td>
                    <div class="state">
                        @viewtoilet.State.Name
                    </div>
                </td>
                <td>
                    <div class="compatible">
                        @viewtoilet.Compatibility.Name
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@*
<ul>
    @foreach (var viewtoilet in Model)
    {
        <li>
            <div class="toilet-name">
                    @viewtoilet.Name
            </div>
            
            <div class="toilet-type">
                    @viewtoilet.Type.Name
            </div>

            <div class="state">
                    @viewtoilet.State.Name
            </div>

            <div class="city">
                    @viewtoilet.City
            </div>

            <div class="address">
                    @viewtoilet.Address
            </div>

            <div class="compatible">
                    @viewtoilet.Compatibility.Name
            </div>

            <br />
        </li>
    }
</ul>*@
